resources:
- 0-namespace.yaml
- 1-read-cm.yaml
- 2-read-cm-binding.yaml
- e2e/
- .tekton

generatorOptions:
  disableNameSuffixHash: true

configMapGenerator:
- name: build-pipelines-defaults
  namespace: build-templates
  literals:
  - default_build_bundle=quay.io/redhat-appstudio-tekton-catalog/pipeline-docker-build:6cf78ece535f3e07319405aec089eea58731e706
  - hacbs_build_bundle=quay.io/redhat-appstudio-tekton-catalog/pipeline-docker-build:6cf78ece535f3e07319405aec089eea58731e706

# Skip applying the Tekton operands while the Tekton operator is being installed.
# See more information about this option, here:
# https://argo-cd.readthedocs.io/en/stable/user-guide/sync-options/#skip-dry-run-for-new-custom-resources-types
commonAnnotations:
  argocd.argoproj.io/sync-options: SkipDryRunOnMissingResource=true

apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
